<ng-switch on="inputType">
	<div ng-switch-when="checkbox">
		<md-checkbox ng-model="$parent.ngModel" aria-label="{{ label }}">
			{{ label }}
		</md-checkbox>
	</div>

	<md-slider ng-model="$parent.ngModel" md-discrete step="{{ step }}"
			   min="{{ tests.min.arg  }}" max="{{ tests.max.arg  }}"
			   ng-switch-when="slider" aria-label="{{ label }}">
	</md-slider>

	<div ng-switch-when="object">
		<!--intentionally left blank-->
	</div>
	<md-input-container ng-switch-default>
		<label ng-bind-html="label"></label>
		<input name="{{ name }}" ng-model="$parent.ngModel" type="{{ ::inputType }}" placeholder="{{ ::placeholder }}"
				joi-validator md-maxlength="{{ tests.max.arg }}">
		<div ng-messages="$error">
			<div ng-message="joi">{{ validationMessage }}</div>
			<div ng-message="number">{{ validationMessage }}</div>
		</div>
	</md-input-container>
</ng-switch>

