<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<base href="/">
	<title>joi schema test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="mainCtrl">
	<!--<md-joi-input ng-model="string" schema="basicTypes.string"></md-joi-input>-->
	<!--<md-joi-input ng-model="array" schema="basicTypes.array"></md-joi-input>-->
	<!--<md-joi-input ng-model="bool" schema="basicTypes.boolean"></md-joi-input>-->
	<!--<md-joi-input ng-model="date" schema="basicTypes.date"></md-joi-input>-->
	<!--<md-joi-input ng-model="number" schema="basicTypes.number"></md-joi-input>-->
	<!--<md-joi-input ng-model="range" schema="basicTypes.range"></md-joi-input>-->

	<!--<h3>string</h3>-->
	<!--{{ string }}-->
	<!--<h3>bool</h3>-->
	<!--{{ bool }}-->
	<!--<h3>range</h3>-->
	<!--{{ range }}-->

	<md-divider></md-divider>
	<form name="myForm" joi-schema="schema" ng-model="myFormVals"></form>
	<!--<form name="myForm">-->
		<!--<input type="text" name="test1" ng-model="form.test1">-->
		<!--<input type="text" name="test2">-->
	<!--</form>-->
	<md-divider></md-divider>

	{{ myFormVals }}
	<md-divider></md-divider>

<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>

<script type="text/javascript">
	System.import('showcase').then(function() {
		angular.bootstrap(document, ['materialJoiFormsShowcase']);
		console.log("angular bootstrap");
	}, function(e) {
		setTimeout(function () {
			console.error(e);
		});
	});
</script>
</body>
</html>